@{
    ViewData["Title"] = "Who is Patty Chow?";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Who is Patty Chow?</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>


<body>
    <br />
    <br />
    <center><h1><strong>Personal Background</strong></h1></center>
    <hr />
    <br />

    <h2>My Hometowns</h2>
    <p>You could say I have two homes. I was born in Tampico, Mexico and lived there for 10 years before moving to The Woodlands, TX. I love both these places with my dear heart and am so lucky to call them my homes :) </p>


    
    <center>
        <div class="align-content-center">
        <center>
        <div class="row">
            <div class="col-4">
                <img class="w-100 h-100 rounded d-block image" src="/images/tampico.jpg" alt="Downtown Tampico, Tamaulipas" title="Downtown Tampico" />
            </div>

            <div class="col-4">
                <img class="w-100 h-100 rounded d-block" src="/images/woodlands.jpg" alt ="Downtown The Woodlands, Texas" title="Downtown The Woodlands. Is this still Houston?" />
            </div>
        </div>
        </center>
    </div></center>

    <br />
    <br />

    <h2>What I Do Now</h2>
    <p>I am a junior MIS major here at McCombs. I am also pursuing an Elements of Computing certificate. Hook 'em horns!</p>

    <br />
    <br />

    <h2>Some of my Favorite Songs</h2>
    <p>If a song is playing, be sure to click pause on it before playing another song.</p>
    <table class="table table-hover">
        <tr class="table-primary">
        <thead>
            <tr>
                <th scope="col">Song</th>
                <th scope="col">Artist</th>
                <th scope="col">Recording</th>
            </tr>
        </thead>
        <tr>
            <td>Summer Montage</td>
            <td>Justin Hurwitz</td>
            <td>
                <audio controls autoplay>
                    <source src="/audio/Summer Montage  Madeline.mp3" type="audio/mp3" />Your browser does not support this audio element.
                </audio>
            </td>
        </tr>
        <tr>
            <td>Ahora Te Puedes Marchar</td>
            <td>Luis Miguel</td>
            <td>
                <audio controls onclick="blur">
                    <source src="/audio/Luis Miguel  Ahora te puedes marchar Video Oficial.mp3" type="audio/mp3" />Your browser does not support this audio element.
                </audio>
            </td>
        </tr>
        <tr>
            <td>Cooler Than Me</td>
            <td>Mike Posner</td>
            <td>
                <audio controls onclick="blur">
                    <source src="/audio/Mike Posner  Cooler Than Me Lyrics.mp3" type="audio/mp3" />Your browser does not support this audio element.
                </audio>
            </td>
        </tr>
    </table>

    <br />
    <br />

    <h2>Are We Compatible?</h2>
    <p>I mean, I hope so, but here's my personality to check:</p>
    <div class="container">
        <div class="row">
            <div class="col-6 align-self-center">
                <a href="https://www.16personalities.com/profiles/3d7f1e7ec8296"><img class="w-100 h-100 rounded d-block" src="~/images/personaility1.png" alt="ENFJ Traits" title="I am an ENFJ! Click here to learn more." /></a>
            </div>
            <div class="col-6">
                <a href="https://www.16personalities.com/profiles/3d7f1e7ec8296"><img class="w-100 h-100 rounded d-block" src="~/images/personality2.png" alt="My peronality test score" title="This is my personality. Click here to learn more" /></a>
            </div>
        </div>
        </div>

    <br />
    <center>
    <div class="col-6">
        <img class="w-100 h-100 rounded d-block" src="~/images/compatible.jpg" alt="Compatibility Chart" title="So are we compatible?" />
    </div>
    </center>


    <br />
    <br />


    

</body>
</html>
