@{
    ViewData["Title"] = "Hello!";
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello!</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>



<body>
    <br />
    <br />
    <center><h1><strong>Hi, I'm Patty Chow!</strong></h1></center>
    <hr />
    <br />
    
    <center>
        <audio controls autoplay>
            <source src="/audio/youre in a good place  a playlist.mp3" type="audio/mp3" />Your browser does not support this audio element.
        </audio><p></p>
    </center>
    
    <br />

    <div class="container">
        <div class="row">
            <div class="col-4">
                <img class="w-100 h-100 rounded d-block image" src="/images/starbies.png" alt="Me from this summer" title="Patty in Seattle!" />
            </div>

            <div class="col-4">
                <img class="w-100 h-100 rounded d-block" src="/images/fam.jpeg" alt="Pic of Family" title="My family and uncle in NYC" />
            </div>

            <div class="col-4">
                <img class="w-100 h-100 rounded d-block" src="/images/mtr.png" alt="Hiking with friends" title="Hiking Mt. Rainier with friends!" />
            </div>
        </div>
    </div>


    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="btn-group text-center" style="text-align:center" role="group">
                <a class="btn btn-primary" href="/Home/About">About Me</a>
                <a class="btn btn-primary" href="/Home/Professional">Professional</a>
                <a class="btn btn-primary" href="/Home/Resume">Resume</a>
            </div>
        </div>
    </div>
    <hr class="hr-danger" />

    <br />
    <br />



    <h2>Fall 2022 Course Schedule</h2>
    <p>Yes, I am a full-time student because I took the internship class over the summer. And yes, I have a lighter schedule, but the school year is still tough somehow. Don't ask me how that checks out.</p>



    <table class="table table-hover">
        <tr class="table-primary">
            <thead>
                <tr>
                    <th scope="col">Course Code</th>
                    <th scope="col">Course Title</th>
                    <th scope="col">Professor</th>
                    <th scope="col">Date and Time</th>
                </tr>
            </thead>
    <tr>
        <td>CS 330E</td>
        <td>Elements of Software Engineering I</td>
        <td>Fares Fraij</td>
        <td>MW 11:00-12:30</td>
    </tr>
    <tr>
        <td>MIS 333K</td>
        <td>Web Application Development</td>
        <td>Katie Gray</td>
        <td>TTH 11:00-12:30</td>
    </tr>
    <tr>
        <td>MKT 337</td>
        <td>Principles of Marketing</td>
        <td>Linda Golden</td>
        <td>TTH 2:00-3:30</td>
    </tr>
    </table>


    <br />
    <br />


    <h2>How to Contact Me</h2>
    <center><table>
        <tr>
            <td>
                    <a href="mailto:pattychow@utexas.edu" target="_blank" rel="noreferrer noopener"> <img class="w-35 h-35 rounded d-block" src="/images/email.png" alt="Email icon" title="Email me!" width="100" height="100" /></a>
            </td>
            <td>
                    <a href="https://www.instagram.com/patty_chow/" target="_blank" rel="noreferrer noopener"> <img class="w-35 h-35 rounded d-block" src="/images/ig.png" alt="Instagram icon" title="Follow me on ig!" width="100" height="100" /></a>
            </td>
            <td>
                    <a href="https://www.linkedin.com/in/patty-chow" target="_blank" rel="noreferrer noopener"> <img class="w-35 h-35 rounded d-block" src="/images/linkedin.png" alt="Linkedin icon" title="Connect with me on Linkedin!" width="100" height="100" /></a>
            </td>
        </tr>
            </table></center>


    <br />
    <br />


    <h2>TED Talk</h2>
    <p>This has been my favorite Ted Talk for a long time. It talks about how to pitch ideas to others. I've found that this method of "starting with why" has helped me voice my ideas in a more organized and engaging manner. 10/10 talk, definitely recommend it.</p>
    <div class="container">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div style="max-width:854px">
                    <div style="max-width:854px">
                        <div style="max-width:854px"><div style="position:relative;height:0;padding-bottom:56.25%"><iframe src="https://embed.ted.com/talks/lang/en/simon_sinek_how_great_leaders_inspire_action" width="854" height="480" style="position:absolute;left:0;top:0;width:100%;height:100%" frameborder="0" scrolling="no" allowfullscreen></iframe></div></div>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>


    <br />
    

</body>
</html>