@{
    ViewData["Title"] = "What Has She Done?";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What Has Patty Chow Done?</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>


    <!--this is the main content section of the website -->
    <div class="container">
        <!--NOTE: This is where the code from the main view is inserted -->
        <br />
        <br />
        <center><h1><strong>Professional Background</strong></h1></center>
        <hr />
        <br />

        <h3>Internships!</h3>
        <br />
        <h4><center><b>Microsoft || SWE/PM || Summer 2022</b></center></h4>
        <p>
            This summer, I interned at Microsoft as an Explore intern. I worked in the Azure data division on an internal team called Azure Usage Billing Services. With a team of two other people, we designed a system to consolidate 40+ azure services billing plans to advice Microsoft on how many hardware resources to buy per year based on growing demand. In the long run, we hope that this project helps Azure become more affordable to external customers by being more cost-efficient internally.</p>

        <center><a href="https://careers.microsoft.com/students/us/en/us-ur-intern-results" target="_blank" rel="noreferrer noopener"> <img class="w-35 h-35 rounded d-block" src="/images/msft.jpg" alt="Me with the Microsoft sign on my first day" title="My first day! Click to explore internships at Microsoft." width="500" height="375" /></a></center>

        <br />
        <br />
        <h4><center><b>Gravitational Ventures || Analytics || Fall 2020 - Spring 2022</b></center></h4>
        <p>
            Throughout my freshman and sophomore year, I interned at a local real estate development firm as an analytics intern. At that internship, I helped the firm double its commercial properties through various projects. My favorite project would have to be creating a program that set our listed Airbnb prices based on market data and connecting that program to booking sites like Airbnb and VRBO as an API. This dynamic pricing tool resulted earns the company an additional $40,000+ a year passively. 

        </p>
        <center><a href="https://www.airbnb.com/p/preston" target="_blank" rel="noreferrer noopener"> <img class="w-35 h-35 rounded d-block" src="/images/airbnb.jpeg" alt="One of the homes I helped host" title="Click to look at more houses!" width="500" height="375" /></a></center>

        <br />
        <br />

        <h3>Orgs I'm a Part Of</h3>
        <br />
        <h4><center><b>Texas HBSA || Professional Vice-President</b></center></h4>
        <p>This year, I am the Professional Vice President of the Texas Hispanic Business Student Association. I set up weekly networking events with top companies in their industries as well as lead HBSA‘s mentorship program between students and alums. It is such an honor to serve our growing base of 200+ members. Looking forward to what’s ahead this year!</p>

        <center><a href="https://www.texashbsa.org" target="_blank" rel="noreferrer noopener"> <img class="w-35 h-35 rounded d-block" src="/images/hbsaExec2.png" alt="HBSA's 2022-23 executive board'" title="Best exec ever! Click here to explore our website." width="500" height="425" /></a></center>
        <br />


    </div>

    <center>
        <audio controls autoplay>
            <source src="/audio/The Home Depot Beat Full.mp3" type="audio/mp3" />Your browser does not support this audio element.
        </audio>
        <p><small>Yes, this it the Home Demot theme song.</small></p>
    </center>

    <br />
    <br />

    <!--This code references different script libraries to make your page responsive -->
    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/twitter-bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>